.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color: black;
  line-height: 1.6;
  background-color: #f8f9f9;
}

h1,
h2 {
  color: red;
}

button {
  color: white;
  background-color: #eb1b24;
  padding: 15px;
  border: 10px;
  margin: 10px;
}

button:hover {
  color: white;
  background-color: #da3c23;
}
/*
Would modules allow grouping of buttons ?


Buttons Colours: 
before  : #EB1B24
hover :#DA3C23

button text: #FFFFFF

Background shade : #F8F9F9
*/
