
body {
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  color: black;
  line-height: 1.6;
  background-color: #f8f9f9;
}

h1,
h2 {
  color: red;
}
/* centering info from https://www.w3.org/Style/Examples/007/center.en.html there are other stylings e.g. flex to look at*/
.homepage-wrapper {
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

button {
  color: white;
  background-color: #eb1b24;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  padding: 15px;
  border: 10px;
  margin: 30px;
  height: 3em;
  width: auto;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

button:hover {
  color: white;
  background-color: #da3c23;
  border-left: 3px solid;
  border-right: 3px solid;
  border-radius: 8px;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

.student-stats {
  border: 3px solid red;
  margin: auto;
  padding: 20px;
  width:fit-content;
}
.student-card {
  border: 3px solid paleturquoise;
  padding: 20px;
  width:fit-content;
  text-decoration: none;
  list-style: none;;
}
/*
Would modules allow grouping of buttons ?


Buttons Colours: 
before  : #EB1B24
hover :#DA3C23

button text: #FFFFFF

Background shade : #F8F9F9
*/
