$radius: 1rem;
$btnplain: #eb1b24;
$btnhover: #da3c23;
$borders: darkgrey;
$background: #fdffff;
$bordersfocus: #008080;
$btnselect: #006666;
body {
	margin: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: black;
	line-height: 1.4rem;
	background-color: $background;
}
button {
	margin: 1rem;
	padding: 0.75rem 1rem;

	font-family: inherit;
	font-size: inherit;
	border: 2px solid $bordersfocus;
	border-radius: 0.5rem;
	outline: none;
	background-color: $bordersfocus;
	color: $background;
	transition: background-color 200ms ease-in;

	&:hover {
		background-color: $btnselect;
		color: $background;
		border: 2px solid $btnselect;
	}
}
.homepage-wrapper {
	display: flex;
	flex-flow: column wrap;
	min-height: 100vh;
	justify-content: space-between;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: $btnhover;
	color: $background;
	width: 100%;

	h1 {
		padding-left: 5%;

	}
	button{
		border: 2px solid $btnhover;
		background-color: $background;
		color: #eb1b24;
	}
}

footer {
	position: sticky;
	width: 100%;
	background-color: $btnhover;
	color: $background;
}

// Flex Layout for the '/students'
#studentspage-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;

	/*
Running Order

1 - AddNewStudent.js (form)
2 - StudentStats.js
3 - StudentFilter.js (form)
4 - StudentCard.js
*/

	//AddNewStudent Component
	#studentform-wrapper {
		flex-grow: 1;
		width: 45%;
		text-align: center;

		.studentform {
			padding: 2rem;
			border-radius: $radius;
			text-align: start;

			h2 {
				text-align: center;
			}

			&__group {
				position: relative;
				height: 4rem;
				margin-bottom: 2rem;
			}

			&__label {
				position: absolute;
				left: 0.75rem;
				top: 0.75rem;
			}

			&__input {
				width: 100%;
				border: 1px solid $borders;
				border-radius: 0.5rem;

				padding: 1rem;
				background: none;
				&:hover {
					border-color: $bordersfocus;
				}
				&:focus {
					border-color: $bordersfocus;
				}
			}

			&__button {
				margin: 1rem;
				padding: 0.75rem 2rem;
				background-color: $background;
				font-family: inherit;
				font-size: inherit;
				border: 2px solid $bordersfocus;
				border-radius: 0.5rem;
				outline: none;
				transition: background-color 200ms ease-in;

				&:hover {
					background-color: $bordersfocus;
					color: $background;
				}
			}
		}
	}
	//StudentStats Component
	.studentstats-wrapper {
		padding: 2rem;
		flex-grow: 1;
		width: 50%;
		font-family: inherit;
		.studentstats {
			&__totals {
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;
			
				justify-content: center;
			}
			&__totalcontainer {
				border-radius: 10px;
				width: 12rem;
				padding: 1rem;
				margin: 1rem;
				border: 5px 5px solid;
				border-color: $borders;
				box-shadow: 0 0 10px $borders;
				justify-content: center;
			}

			&__number {
				width: 1rem;
				margin: auto;
				margin-bottom: 1rem;
				padding: 0.9rem 1.2rem;
				box-shadow: 0 0 10px $btnselect;
				border-radius: 40%;
			
			}
		}
	}
	//StudentsFilter Component
	.filterform-wrapper {
		width: 100%;
		.filter-form {
			padding: 2rem;
			border-radius: $radius;

			&__fieldset {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				align-items: baseline;
			}
			&__group {
				padding: 1.5rem;
			}
			&__input, &__select, &__reset {
				border: 2px solid $borders;
				border-radius: 0.5rem;
				font-family: inherit;
				font-weight: inherit;
				padding: 0.5rem;
				color: inherit;
				background: none;
				&:hover {
					border-color: teal;
				}
				&:focus {
					border-color: teal;
				}
			}

		}
	}
	//STUDENT CARDS
	// decide on format grid or flex
	#students-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-evenly;
	}
	#students-list-item {
		list-style-type: none;
		margin-bottom: 0.5rem;
		padding: 1rem 1rem;
		flex: 0 24%;
		border: 5px 5px solid;
		border-color: $borders;
		box-shadow: 0 0 10px $borders;
	}
}

// Alternate grid option

// #students-list{
// 	--auto-grid-min-size: 16rem;
// 	display: grid;
// 	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
// 	grid-gap: 1rem;

// }
// #students-list-item{
// 	padding: 1rem 1rem;

// 	font-size: inherit;

// }

// OLD BUTTONS

// button {
// 	color: white;
// 	background-color: #eb1b24;
// 	text-align: center;
// 	text-decoration: none;
// 	font-size: x-large;
// 	padding: 15px;
// 	border: 5px;
// 	margin: 15px;
// 	height: 2em;
// 	width: auto;
// 	border-radius: 8px;
// 	transition: 0.2s ease-in-out;
// }

// button:hover {
// 	color: white;
// 	background-color: #da3c23;
// 	border-left: 3px solid;
// 	border-right: 3px solid;
// 	border-radius: 8px;
// 	border-radius: 30px;
// 	transition: 0.3s ease-in-out;
// }
